.billboardcontainer{
    display: flex;
    flex-direction: row;
    height: clamp(400px, 95vh, 800px);
    background-color: rgb(255,245,224);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4em;
    text-align: center;

    width: 47%;
    height: 100%;
}

.about-content p {
    line-height: 1.5em;
    max-width: 800px;
}

.about-content p, .about-content h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.image-content {
    position: relative;
    width: 53%;
    height: 100%;
}

.image-content img {
    position: absolute;
    width: auto;
    height: 40%;
}

.poolImg {
    top: 4%;
    right: 20%;
}

.natureImg {
    top: 33%;
    right: 7%;
}

.roomImg {
    top: 47%;
    right: 40%;
}

/* 
.billboardcontainer img{
    display: flex;
    position: absolute;
}

.billboardcontainer p, .billboardcontainer h1{
    position: relative;
    left: 120px;
    text-align: center;
    margin-bottom: 40px;
}

.billboardcontainer h1{
    color: #1c1c1c;
    font-size: 70px;
}

.billboardcontainer p{
    color:  rgb(95, 93, 93);
    font-size: 18px;
    
}


.roomImg{
    
  
    right: 18%;
    top: 50%;
    z-index: 3;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-width: 300px;
    max-height: 300px;
    min-height: 230px;
}
.poolImg{

    
    right: 15%;
    top: 15%;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-width: 300px;
    max-height: 300px;
    min-height: 230px;
}
.natureImg{
    
    
    right: 2%;
    top: 25%;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-width: 300px;
    max-height: 300px;
    min-height: 230px;
}



@media (min-width: 1000px)  and (max-width: 1300px) {

    .billboardcontainer{
        height: 600px;
    }

   

    .roomImg {
        top: 50%;
        width: 250px;
        height: 100px;
    }

    .poolImg{
        top: 15%;
        width: 250px;
        height: 100px;
    }
    .natureImg{
        top: 30%;
        width: 250px;
        height: 190px;
    }

    .billboardcontainer p, .billboardcontainer h1{
        position: relative;
        left: 30px;
        text-align: center;
        margin-bottom: 40px;
    }

    .billboardcontainer h1{
        
        font-size: 45px;
    }
    
    .billboardcontainer p{
        
        font-size: 1.2vw;
        
    }
    
  }


 */

