.facilities-container{
    height: clamp(400px, 100vh, 800px);
    background-color: aqua;
}

.board{
    display: flex;
    flex-direction: row;
    background-color: #1c1c1c;
    height: 70%;
}

.facilities-image, .facilities-content {
    width: 50%;
    height: 100%;
}

.facilities-content {
    padding: 2em;
    /* border: solid red 3px; */
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-direction: column;
}

/* .facilities-content .top {
    border: solid aquamarine 3px;
} */

.facilities-container .bottom .right-text {
    text-align: left;
    /* border: solid blue 2px; */
}

.facilities-container .bottom .left-text {
    text-align: left;
    /* border: solid orange 2px; */
}

.facilities-content .bottom {
    display: flex;
    gap: 3em;
    /* border: solid green 3px; */
}

.facilities-content h1{
    font-size: 3.7em;
}

.facilities-content .btn-container {
    height: 4em;
    width: 15em;
    /* border: solid pink 5px; */
}

.facilities-content button{
    text-decoration: none;
    color: #c8c8c8;
    background-color: #151515;
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 4em;
    width: 15em;
    max-width: 200px;
    max-height: 100px;
}

.facilities-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30%;
    text-align: center;
    font-size: 1.2em;
}
