
.facilities-container{
   
    height: 94.5vh;
    background-color: aqua;
}
.board{
    display: flex;
    flex-direction: row;
    background-color: #1c1c1c;
    height: 70%;
}
img{

    display: flex;
    height: auto;
    width: 100%;
}

.facilities-content{

    display: flex;
    position: relative;
    flex-direction: column;
    left: 5%;
    top: 10%;

}

.facilities-content h1{
    font-size:  80px;
    
}

.facilities-content  button{
    margin-top: 40px;
    text-decoration: none;
    color: #c8c8c8;
    background-color: #151515;
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    width: 100%; 
    max-width: 200px;
    max-height: 100px;
    
}

.facilities-foot{
    display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 30%;
        text-align: center;
        font-size: 1.3vw;
}

@media (min-width: 1000px) and (max-width: 1300px ) {
    .facilities-container{
   
        height: 68vh;
        background-color: aqua;
    }
    
    
    img{
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 800px;
    }

    .facilities-content h1{
        font-size:  45px;
        
    }

    .facilities-content p {
        
        font-size: 0.7vw;
    }

    .facilities-content  button{
        font-size: 0.8vw;
        max-width: 15vw;
        max-height: 4vh;

    }

    

    

}