

.navbar-home{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: space-around;
   background-color: transparent;
   height: 120px;
   width: 100%;
   z-index: 1;
   
    
}
.navbar-home a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    z-index: 100;
}

.homecover{
    display: flex;
    position: relative;
    align-items: center;
    height: 840px;
    width: 100%;
    
}

.homecover p{
    margin-left: 20%;
    color: white;
    font-size: 56px ;
}

.home-facilities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-image: linear-gradient(#FFF5EB, #FFFFFF);
    width: 100%;
    height: 1345px;
    padding-bottom: 180px;
}

.home-facilities content, .home-facilities footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 58px;
}
.spacer{
    height: 40px;
    width: 100%;
    background-color: #FFF5EB;
}

.home-facilities img{
    width: 39vw;
    height: 41vh;
    border-radius: 20px;
}

.facilities-context{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.facilities-context p{
    margin-bottom: 40px;
}

.facilities-context button{
    background-color: #34A0A4;
    color: white;
    border-radius: 64px;
    font-size: 0.8vw;
    width: 143px;
    height: 4.5vh;
    box-shadow:  24px 24px 48px #bebebe,
             -24px -24px 48px #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border: none;
}


.reserve-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}

.reserve-box p{
    font-weight: 700;
    font-size: 2vw;
    line-height: 125%;
    color: white;
    
}

.reserve-box button{
    background-color: white;
    width: 178px;
    height: 56px;
    box-shadow: 0px 89px 35px rgba(0, 0, 0, 0.01), 0px 50px 30px rgba(0, 0, 0, 0.05), 0px 22px 22px rgba(0, 0, 0, 0.09), 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 64px;
    color: #34A0A4;
    font-weight: 700;
    font-size: 18px;
    border: none;
}

.rooms-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 883px;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 51.13%, #FFF5EB 100%);
}

.carousel-rooms{
  display: flex;
  width: 80%;
  height: 70vh;
  margin: auto;
  border: none;
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.carousel-rooms div{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 25vw;
    scroll-snap-align: start;
}

.carousel-rooms p {
    font-size: 1vw;
}

.carousel-rooms h3{
    font-size: 1.2vw;
}

.carousel-rooms h1{
    font-size: 1.7vw;
}


.carousel-rooms::-webkit-scrollbar-track {
    border: none;
    background-color: transparent;
  }

  .carousel-rooms::-webkit-scrollbar {
    width: 1px;
  }
  
  .carousel-rooms::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
    border: 1px solid #000;
  }



  .home-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF5EB;
    height: 35vh;
  }

  .home-footer p{
    color: #222222;
    font-size: 1.3vw;
}

  .home-footer a{

    text-decoration: none;
    color: black;
    margin-right: 11%;
}

.feet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    background-color: #FFF5EB ;
}


.links a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 1vw;
}



  