.login-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1c1c;
}

.topSphere1{
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 10%;
    top: -15%;
    transform: rotate(-0.14deg);
    border-radius: 50%;
    background: radial-gradient(farthest-corner at 10px 10px, #b82693, #800d6c, #660c62, #a10e8e);
    
}

.topSphere2{
    position: absolute;
    width: 8vw;
    height: 8vw;
    right: 15%;
    top: 5%;
    transform: rotate(-0.14deg);
    border-radius: 50%;
    background: radial-gradient(farthest-corner at 40px 40px, #646464, #292929, #0F0F0F, #1B1B1B);
}

.topSphere3{
    position: absolute;
    width: 15vw;
    height: 15vw;
    right: 10%;
    bottom: 10%;
    transform: rotate(-0.14deg);
    border-radius: 50%;
    background: radial-gradient(farthest-corner at 10px 10px, #b82693, #800d6c, #660c62, #a10e8e);
}