

.navbar{
    background-color: rgb(39, 37, 37);
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    z-index: 1000;
}

span{
    margin-left: 60px;
    
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.navbar a:hover{

    transition: 0.5s;
    color: rgb(158, 167, 167);
    text-decoration: underline;
}



