*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.rooms-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
}

.combo-box select{
    font-size: 1.2vw;
}

.combo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.box-container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    
}


.room-box{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    box-shadow:  -22px 22px 44px #8d8d8d,
    22px -22px 44px #ffffff;
}

.room-box{
    background-color: white;
}

.picture-container{
    width: 50%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
    
}

.room-information{
    padding: 1.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF5EB;
    width: 50%;
    border-right:1px solid #1c1c1c;
    border-top:  1px solid #1c1c1c;
    border-bottom: 1px  solid #1c1c1c;
}

.right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right-content button{
    background-color: transparent;
    border: none;
    font-size: 0.825em;
}

.feautures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    background-color: #ffffff;
    height: 300px;
    width: 100%;
    box-shadow:  -22px 22px 44px #8d8d8d,
    22px -22px 44px #ffffff;
   
}

.feautures p{
    display: flex;
   text-align: center;
}



.feautures img{
    width: 100%;
    height: 20vh;
    margin-bottom: 20px;
}

/* ------ BOOK NOW BUTTON ------ */

.rooms-booknow-btn {
    transition: ease 0.15s;
    text-decoration: none;
    color: black;
    background-color: #FFF5EB;
}

.rooms-booknow-btn:visited {
    text-decoration: none;
}

.rooms-booknow-btn:active {
    text-decoration: none;
}

.rooms-booknow-btn:hover {
    scale: 1.075;
    color: white;
    background-color: black;

   
}

/* ------ ADDITIONAL DETAILS BUTTON ------ */

.additional-details-btn {
    transition: ease 0.15s;
    margin-right: 20px;
}

.additional-details-btn:hover {
    scale: 1.075;
    cursor: pointer;
}