* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.mainDatePickerContainer {
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.15em;
    background: linear-gradient(180deg, #FFFFFF 80%, #FFF5EB 100%);

}

.rooms-booknow-btn {
    border: solid black 0.1em;
    padding: 0.75em;
}

.rooms-booknow-btn:hover {
    background-color: black;
    color: white;
}