@import url('https://fonts.googleapis.com/css2?family=Farro&family=Ubuntu:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* SCROLL BARS */

::-webkit-scrollbar {
    width: 10px;
    
  }
  
 
  ::-webkit-scrollbar-track {
    background: rgb(39, 38, 38);
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: rgb(100, 98, 93);
  }



body{

    background-color: white;
}


/*---------------------WELCOME WINDOW HOMEPAGE CSS------------------------------*/


.aboutcontainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.aboutcontainer h1{
    color: white;
    font-size: 80px;
    text-align: center;
}

.aboutcontainer p{
    font-size: 25px;
    color: white;
}



.aboutcontainer button{
    border: solid white;
    background-color: transparent;
    color : white;
    margin-top: 100px;
    font-size: 20px;
    height: 60px;
    width: 200px;
    
}


