.footer-container{
    display: flex;
    flex-direction: column;
}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c1c1c;
    height: 23vh;
    
}

.foot p{
    color: #c8c8c8;
    font-size: 25px;
}

.foot a{

    text-decoration: none;
    color: white;
    margin-right: 11%;
}


.toe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #151515;
    height: 7vh;
    color: #c8c8c8;
    
}

.toe p{
    font-size: 14px;
}

