.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 100px;
}

.calendar-box {
  display: flex;
  flex-direction: column;
  border: solid rgb(184, 178, 178) 1px;
  width: 80vw;
  background-color: white;
}

.calendar-box h1 {
  text-align: center;
  font-size: 1.6vw;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.calendars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calendars p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1vw;
  text-align: center;
  color: #1c1c1c;
}

.calendars div {
  width: 100%;
  height: 100%;
}

.guest-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  border-top: solid rgb(184, 178, 178) 1px;
}

.viewrooms-btn {
  border-top: solid rgb(184, 178, 178) 1px;
  padding: 0.75em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
  color: #34a0a4;
  background-color: white;
}

.viewrooms-btn:hover {
  background-color: #34a0a4;
  color: white;
  transition: 0.5s;
}
