.footer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
}
.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 23vh;
}

.foot p {
  color: black;
  font-size: 1.3vw;
}

.foot a {
  text-decoration: none;
  color: black;
  margin-right: 11%;
}

.toe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 7vh;
  color: #c8c8c8;
}

.toe p {
  font-size: 0.8vw;
  color: black;
}

.toe a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 1vw;
}

.toe a:hover,
footer a:hover {
  color: #319194;
  transition: 0.6s;
}
