.form-container {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;

  width: 50vw;
  gap: 0.75em;

  border: 1px solid black;
  background-color: white;
  padding-block: 1em;
}

.form-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2em;
  padding-block: 3em;
}

.form-container > .form-fields > input {
  width: 20vw;
  font-size: 1vw;
  padding: 13px;
}

.policyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.policyBox > p {
  padding: 1.25em;
}

.form-submit-btn {
  transition: ease 0.15s;
  font-size: 1.2vw;
  border: none;
  outline: none;
  padding: 0.85em;
  cursor: pointer;
  width: 50%;
}

.form-submit-btn:hover {
  outline: 3px solid black;
}