nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  background-color: #fff5eb;
  z-index: 1000;
  border-bottom: 1px #1c1c1c solid;
}



.logo h1 {
  cursor: pointer;
  color: #1c1c1c;

}

.logo  {
  
  transition: ease 0.15s;
}

.logo a{
  text-decoration: none;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 100;
  
}

.logo:hover {
  scale: 1.15;
  
}
